/**/

body{
  background: linear-gradient(to bottom, royalblue, purple, yellow);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.linha{
  margin-top: 10px;
  margin-bottom: 10px;
}

@font-face{
  font-family: "amerika";
  src: url("../fonts/AMERIKA_.ttf") format("truetype");
}

h1{
  font-family: amerika;
  color: white;
  font-size: 40px;
  text-align: center;
}

h2{
  font-family: amerika;
  color: white;
  font-size: 35px;
  text-align: center;
}

label{
  font-family: verdana;
  font-size: 15px;
}

.btn{
  font-family: verdana;
  font-size: 15px;
}

.inp{
  font-family: verdana;
  font-size: 15px;
}

.rfoto{
  border-color: mediumseagreen;
  border-width: 2px;
  border-style: solid;
  margin: auto;
}